/**
 * Herbarium API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: 1.0.0
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package dev.xavierc.herbarium.api

import io.ktor.locations.*
import dev.xavierc.herbarium.api.models.*

@KtorExperimentalLocationsAPI
object Paths {
    /**
     * Order a change of state for an actuator
     *
     * @param uuid Uuid of the greenhouse
     * @param plantUuid Uuid of the plant linked to the actuator
     * @param actuatorState  (optional)
     */
    @Location("/api/greenhouse/{uuid}/actuators")
    class postActuatorState(
        val uuid: java.util.UUID,
        val plantUuid: java.util.UUID,
        val actuatorState: ActuatorState? = null
    )

    /**
     * Log the reading of one or multiple sensors and actuators
     *
     * @param uuid Uuid of the greenhouse
     * @param inlineObject1  (optional)
     */
    @Location("/api/greenhouse/{uuid}/logs")
    class putData(val uuid: java.util.UUID, val inlineObject1: InlineObject1? = null)

    /**
     * Delete the specified greenhouse
     *
     * @param uuid Uuid of the greenhouse to delete
     */
    @Location("/api/greenhouse/{uuid}")
    class deleteGreenhouse(val uuid: java.util.UUID)

    /**
     * Retrieve the greenhouse details
     *
     * @param uuid Uuid of the greenhouse to delete
     */
    @Location("/api/greenhouse/{uuid}")
    class getGreenhouse(val uuid: java.util.UUID)

    /**
     * Retrieve every greenhouses linked to the connected user
     *
     */
    @Location("/api/greenhouses")
    object getGreenhousesOfUser

    /**
     * Update the basic information of the greenhouse.
     *
     * @param uuid Uuid of the greenhouse to update
     * @param greenhouseDetails  (optional)
     */
    @Location("/api/greenhouse/{uuid}")
    class postGreenhouse(val uuid: java.util.UUID, val greenhouseDetails: GreenhouseDetails? = null)

    /**
     * Register a new greenhouse
     *
     * @param inlineObject  (optional)
     */
    @Location("/api/greenhouse/register")
    class putGreenHouse(val inlineObject: InlineObject? = null)

    /**
     * Notify the API when a plant have been removed
     *
     * @param plantUuid Uuid of the plant
     */
    @Location("/api/greenhouse/plant/{plantUuid}")
    class deletePlant(val plantUuid: java.util.UUID)

    /**
     * Update the details of a plant
     *
     * @param plantUuid Uuid of the plant
     * @param plantUpdateRequest  (optional)
     */
    @Location("/api/greenhouse/plant/{plantUuid}")
    class postUpdatePlant(val plantUuid: java.util.UUID, val plantUpdateRequest: PlantUpdateRequest? = null)

    /**
     * Notify the API a when plant have been added to a greenhouse
     *
     * @param uuid Uuid of the greenhouse
     * @param position Position of the plant into the greenhouse
     */
    @Location("/api/greenhouse/{uuid}/plant/{position}")
    class putPlant(val uuid: java.util.UUID, val position: kotlin.Int)

    /**
     * Always returns a 200.
     */
    @Location("/api/health")
    class getHealth()

}
